@import 'variables.sass'
@import 'pan.sass'
@import 'presetPalette.sass'



body
  background-color: #3c3c3c
  font-family: andikaregular, sans-serif
  cursor: url('../img/pointer.png') 10 3, default
  min-height: 100vh
  margin: 0

.main-wrapper
  padding-top: 100px
  text-align: center

